.title {
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 3rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.imagem {
  width: auto !important;
  max-width: 73%;
  height: auto;

}
