<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Código de Rastreio</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">
        <img src="/assets/image/imagem2.png" alt="Entregas Rápidas" width="50" height="50" srcset="">
      </a>
    </nav>
  </header>
  <div class="main">
    <router-outlet></router-outlet>
  </div>
  <footer class="footer">
    <div class="container">
      <span class="text-center">Copyright© George Piter</span>
    </div>
  </footer>
</body>

</html>
