.page {
  padding-top: 5rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  margin: 0px;
  background-color: #343a40;
  text-align: center;
  color: white;
}

.main {
  margin-top: 100px;
}
